{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Task</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body class="auth-page">
    <div class="auth-container">
        <div class="auth-card">

            <h1>Delete Task</h1>
            <p class="delete-message">Are you sure you want to delete
                <strong>
                    "{{ object.title }}"
                </strong> ?
            </p>

            <form method="post">
                {% csrf_token %}
                <div class="delete-actions">
                    <a href="{% url 'task-list' %}" class="cancel-delete-btn">Cancel</a>
                    <button type="submit" class="delete-confirm-btn">Delete Task</button>
                </div>
            </form>

        </div>
    </div>
</body>
</html>